.team {
    background-color: #f5f4fa;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
        min-width: 1200px;
    }
}

.team-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 36px;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.team-items {
    // width: calc((100% - 90px) / 4);
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}


.team-subject {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 30px 0 10px;
}

.team-desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 10px 0 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-bottom: var(--main-margin);
}

.team-soc-item:not(:last-child) {
    margin-right: 10px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--accent-color);
    }
}

.team-soc-icons {
    fill: currentColor;
}

/* .team-soc-link:hover .team-soc-icons {
  fill: var(--accent-color);
} */

/* .team-soc-link:hover {
  color: var(--accent-color);
}
.team-soc-icons {
  fill: currentColor;
} */