.text {
    padding: 60px 0;
    background-color: aquamarine;

    @media screen and (min-width: 1170px) {
        padding: 94px 0;
    }

    &__list {
        display: flex;
        margin-right: 30px;
        flex-wrap: wrap;
    }

    &__list_items {
        width: 100%;
    }

    // &__list_items:not(:last-child) {
    //     margin-right: var(--main-margin);
    // }

    &__elements {
        // width: 100%;
        // height: 120px;
        display: flex;
        background: #f5f4fa;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    &__titles {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        padding-bottom: 10px;
    }

    &__pre_titles {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        max-width: 100%;
    }
}


.text__items:not(:last-child) {
    margin-right: var(--main-margin);
}


.text__elements:not(:last-child) {
    margin: 0 0 30px 0;
}