.container {
    // width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 450px; // 450 + 15 + 15
    }

    @media screen and (min-width: 768px) {
        width: 738px; // 738 + 15 + 15
    }

    @media screen and (min-width: 1200px) {
        width: 1170px; // 1170 + 15 + 15
    }
}